<ion-header class="hero-header">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="hero-content">
  <div class="hero-inner">
    <div class="hero-text">
      <h1>Foodly Notes</h1>
      <p>¿Qué cocinamos hoy?</p>

      <ion-searchbar
        placeholder="Buscar recetas"
        animated="true"
      ></ion-searchbar>
    </div>
    <div class="hero-illustration">
      <img src="assets/icon/foodly_notes_icon.svg" alt="Foodly Notes" />
    </div>
  </div>
</div>
