<div class="hero-content">
  <div class="hero-inner">
    <div class="hero-text">
      <h1>
        {{ "xFoodlyNotes" | translate }}
      </h1>
      <p>
        {{ "xHomeHeroSubtitulo" | translate }}
      </p>

      <ion-searchbar
        [placeholder]="'xBuscarRecetas' | translate"
        animated="true"
        inputmode="search"
        enterkeyhint="search"
        (ionInput)="handleInput($event)"
        (keyup.enter)="onEnter()"
      ></ion-searchbar>
    </div>
    <div class="hero-illustration">
      <img src="assets/icons/foodly_notes_icon.svg" alt="Foodly Notes" />
    </div>
  </div>
</div>
