<ion-card class="recipe-card" [button]="true" (click)="toRecipeDetail($event)">
  <ion-card-header class="recipe-card-header">
    <ion-toolbar color="transparent">
      <ion-buttons slot="end">
        <ion-button
          fill="solid"
          shape="round"
          [color]="isFavorite() ? 'danger' : 'medium'"
          class="recipe-card-action"
          (click)="toggleFavoriteState($event)"
          appTooltip
          tooltipKey="xToggleFavorito"
        >
          <ion-icon slot="icon-only" name="heart" />
        </ion-button>
        <ion-button
          fill="solid"
          shape="round"
          color="secondary"
          class="recipe-card-action"
          (click)="toSimilarRecipes($event)"
          appTooltip
          tooltipKey="xVerSimilares"
        >
          <ion-icon slot="icon-only" name="repeat" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-img
    class="recipe-card-image"
    [src]="recipeImageUrl()"
    [alt]="recipe().title"
    (ionError)="onImageError($event)"
  ></ion-img>

  <div class="recipe-card-title-container">
    <ion-card-title class="recipe-card-title">
      {{ recipe().title }}
    </ion-card-title>
  </div>
</ion-card>
