<ion-header class="overlay-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="medium" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="medium" class="ion-margin-end" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <app-recipe-hero [title]="recipe().title" [imageUrl]="imageUrl()" />
  </div>
  <ion-grid class="recipe-container">
    <ion-row>
      <ion-col size="12" sizeMd="7" sizeLg="8">
        <app-recipe-ingredients [ingredients]="recipe().ingredients" />
      </ion-col>
      <ion-col size="12" sizeMd="5" sizeLg="4">
        <app-recipe-meta-extended
          [cookingMinutes]="recipe().cookingMinutes"
          [preparationMinutes]="recipe().preparationMinutes"
          [healthScore]="recipe().healthScore"
          [aggregateLikes]="recipe().aggregateLikes"
        />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-recipe-instructions [instructions]="recipe().instructions" />
        <app-recipe-attr
          [sourceName]="recipe().sourceName"
          [sourceUrl]="recipe().sourceUrl"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer fixed slot="bottom">
  <app-recipe-meta
    [readyInMinutes]="recipe().readyInMinutes"
    [servings]="recipe().servings"
    [isFavorite]="isFavorite()"
    [vegetarian]="recipe().vegetarian"
    [vegan]="recipe().vegan"
    [glutenFree]="recipe().glutenFree"
    [dairyFree]="recipe().dairyFree"
    (toggleFavorite)="toggleFavorite()"
    (viewSimilar)="toSimilaRecipes()"
  />
</ion-footer>
