<ion-content [fullscreen]="true">
  <div class="recipe-container">
    <app-recipe-hero [title]="recipe().title" [imageUrl]="imageUrl()" />
  </div>
  <ion-grid class="recipe-container">
    <app-recipe-ingredients [ingredients]="recipe().extendedIngredients" />
    <app-recipe-meta-extended
      [cookingMinutes]="recipe().cookingMinutes"
      [preparationMinutes]="recipe().preparationMinutes"
      [healthScore]="recipe().healthScore"
      [aggregateLikes]="recipe().aggregateLikes"
    />
    <app-recipe-instructions [instructions]="recipe().analyzedInstructions" />
    <app-recipe-attr
      [sourceName]="recipe().sourceName"
      [sourceUrl]="recipe().sourceUrl"
    />
  </ion-grid>
</ion-content>
<ion-footer fixed slot="bottom">
  <app-recipe-meta
    [readyInMinutes]="recipe().readyInMinutes"
    [servings]="recipe().servings"
    [isFavorite]="isFavorite()"
    [vegetarian]="recipe().vegetarian"
    [vegan]="recipe().vegan"
    [glutenFree]="recipe().glutenFree"
    [dairyFree]="recipe().dairyFree"
    (toggleFavorite)="toggleFavorito()"
    (viewSimilar)="verSimilares()"
  />
</ion-footer>
