<ion-header class="overlay-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="info-hero gradient-header">
    <div class="info-hero-inner">
      <h1>{{'xFloodyNotes' | translate}}</h1>
      <p>
        {{ 'xVersion' |translate }} {{ appVersion.value() }} · {{ appStage() |
        translate }}
      </p>
    </div>
  </div>

  <div class="info-wrapper">
    <ion-list inset>
      <ion-list-header>
        <ion-label> {{'xInformacion' | translate}} </ion-label>
      </ion-list-header>

      <ion-item button detail routerLink="/terms">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label> {{'xTerminosCondiciones' | translate}} </ion-label>
      </ion-item>

      <ion-item button detail routerLink="/privacy">
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        <ion-label> {{'xPoliticaPrivacidad' | translate}} </ion-label>
      </ion-item>

      <ion-item button detail [href]="helpUrl" target="_blank">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label> {{'xAyuda' | translate}} </ion-label>
      </ion-item>
    </ion-list>

    <ion-list inset>
      <ion-list-header>
        <ion-label> {{'xAtribuciones' | translate}} </ion-label>
      </ion-list-header>

      <ion-item
        button
        detail
        lines="none"
        [href]="spoonacularUrl"
        target="_blank"
      >
        <ion-icon name="nutrition-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Spoonacular API</h3>
          <p>{{'xAtribucionSpoonacular' | translate}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list inset>
      <ion-list-header>
        <ion-label> {{ 'xContacto' | translate }} </ion-label>
      </ion-list-header>

      <ion-item button detail [href]="'mailto:' + contactEmail">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>
          <p>Email</p>
          <h3>contacto@matiasgaleano.com.ar</h3>
        </ion-label>
      </ion-item>

      <ion-item button detail [href]="githubUrl" target="_blank">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>GitHub</ion-label>
      </ion-item>
    </ion-list>

    <ion-list inset>
      <ion-list-header>
        <ion-label> {{'xAplicacion' | translate}} </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <p>{{'xVersion' | translate}}</p>
          <h3>{{ appVersion.value() }}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="construct-outline" slot="start"></ion-icon>
        <ion-label>
          <p>{{'xEntorno' | translate}}</p>
          <h3>{{appStage() | translate}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
