<ion-content>
  <app-home-hero (onSearch)="searchNewRecipes($event)" [searchPage]="true" />

  <ion-grid>
    <ion-row>
      @for (recipe of recipes(); track $index) {
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <app-recipe-card
          [recipe]="recipe"
          (toggleFavorite)="toggleFavorite($event)"
          (similarRecipes)="toSimilarRecipes($event)"
          (recipeDetail)="toRecipeDetail($event)"
        />
      </ion-col>
      } @empty {
      <ion-col>
        <app-empty-states imagen="receta" text="xSinRecetasDisponibles" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer fixed slot="bottom" class="neutral-footer">
  <div class="footer-content">
    <span>Recipe data by Spoonacular</span>
  </div>
</ion-footer>
