ion-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.favorites-header {
  padding: 2rem 1.25rem 1.25rem;

  h1 {
    margin: 0;

    font-size: 1.7rem;
    font-weight: 600;
  }

  p {
    margin-top: 0.25rem;

    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
}
