<ion-content>
  <div class="favorites-header gradient-header">
    <div class="favorites-header-inner">
      <h1>Favoritos</h1>
      <p>Recetas que guardaste porque valen la pena</p>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      @for (recipe of favoritos(); track $index) {
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <app-recipe-card
          [recipe]="recipe"
          (toggleFavorite)="toggleFav($event)"
          (similarRecipes)="toSimilarRecipes($event)"
        />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
