<ion-header>
  <ion-toolbar class="foodly-notes-gradient">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="favorites-header gradient-header">
    <div class="favorites-header-inner">
      <h1>{{'xFavoritos' | translate }}</h1>
      <p>{{'xFavoritosSubitulo' | translate }}</p>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      @for (recipe of favorites(); track $index) {
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <app-recipe-card
          [recipe]="recipe"
          (toggleFavorite)="toggleFav($event)"
          (similarRecipes)="toSimilarRecipes($event)"
          (recipeDetail)="detalleReceta($event)"
        />
      </ion-col>
      } @empty {
      <ion-col>
        <app-empty-states imagen="favorito" text="xAunNoSeleccionaFavoritos" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
