.recipe-summary {
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--ion-color-medium);

  b {
    color: var(--ion-color-dark);
    font-weight: 600;
  }

  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
