<ion-header>
  <ion-toolbar class="foodly-notes-gradient">
    <ion-buttons slot="end">
      <ion-menu-button color="light" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content />
  </ion-refresher>
  <app-home-hero (searchSubmit)="toSearchRecipe($event)" />

  <ion-grid>
    <ion-row>
      @for (recipe of recipes(); track $index) {
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <app-recipe-card
          [recipe]="recipe"
          (toggleFavorite)="toggleFavorite($event)"
          (similarRecipes)="toSimilarRecipes($event)"
          (recipeDetail)="toRecipeDetail($event)"
        />
      </ion-col>
      } @empty {
      <ion-col>
        <app-empty-states imagen="receta" text="xSinRecetasDisponibles" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
