<ion-menu contentId="main-content" side="end">
  <ion-header class="menu-header safe-area-top">
    <div class="menu-header-inner">
      <ion-icon name="foodly-notes" class="menu-logo" />

      <div class="menu-header-text">
        <h1>
          {{ "xFloodyNotes" | translate }}
        </h1>
        <p>
          {{ "xMenuSubtitulo" | translate }}
        </p>
      </div>
    </div>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item button detail routerLink="home">
          <ion-icon name="home-outline" slot="start" />
          <ion-label>
            {{ "xInicio" | translate }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item button detail routerLink="favorites">
          <ion-icon name="heart-outline" slot="start" />
          <ion-label>
            {{ "xFavoritos" | translate }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item button detail routerLink="shopping-list">
          <ion-icon name="cart-outline" slot="start" />
          <ion-label>
            {{ "xListaCompras" | translate }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item button detail routerLink="info">
          <ion-icon name="information-circle-outline" slot="start" />
          <ion-label>
            {{ "xInformacion" | translate }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>
          {{ "xAjustes" | translate }}
        </ion-label>
      </ion-list-header>

      <ion-item button (click)="openThemeSelector()">
        <ion-icon name="phone-portrait-outline" slot="start" />
        <ion-label>
          {{ "xTema" | translate }}
        </ion-label>
        <ion-note slot="end">
          {{ currentTheme() }}
        </ion-note>
      </ion-item>

      <ion-item button (click)="openLanguageSelector()">
        <ion-icon name="language-outline" slot="start" />
        <ion-label>
          {{ "xIdioma" | translate }}
        </ion-label>
        <ion-note slot="end">
          {{ currentLang() }}
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
