<ion-header>
  <ion-toolbar class="foodly-notes-gradient">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content />
  </ion-refresher>
  <div class="shopping-header gradient-header">
    <div class="shopping-header-inner">
      <h1>{{'xListaCompras' | translate}}</h1>
      <p class="subtitle">{{'xListaComprasSubtitulo' | translate}}</p>
    </div>
  </div>
  <div class="masonry">
    @for (item of shoppingList(); track $index) {
    <div class="ion-padding-verical">
      <app-shopping-recipe-card
        [recipe]="item.recipe"
        [shoppingState]="item.state"
        (toRecipe)="toRecipeDetail($event)"
      />
    </div>
    } @empty {
    <ion-row>
      <ion-col size="12">
        <app-empty-states
          imagen="shoplist"
          text="xGuardeFavoritosParaListaCompras"
        />
      </ion-col>
    </ion-row>
    }
  </div>
</ion-content>
