<ion-header class="overlay-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="shopping-header gradient-header">
    <div class="shopping-header-inner">
      <h1>{{'xListaCompras' | translate}}</h1>
      <p class="subtitle">{{'xListaComprasSubtitulo' | translate}}</p>
    </div>
  </div>
  <div class="masonry">
    @for (item of shoppingList(); track $index) {
    <div class="ion-padding-verical">
      <app-shopping-recipe-card
        [recipe]="item.recipe"
        [shoppingState]="item.state"
      />
    </div>
    }
  </div>
</ion-content>
